@import "tailwindcss";
/* add css for smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  height: 8px; /* Height for horizontal scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f5f9; /* Light gray track */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #3b82f6; /* Blue thumb */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb; /* Darker blue on hover */
}